<div *ngIf="success" class="bg-success p-2 text-white text-center">
  {{ message }}
</div>
<div *ngIf="!success && message.length > 0" class="bg-danger p-2 text-white text-center">
  {{ message }}
</div>
<div class="container">
  <h2>Ajout d'un produit</h2>
  <form>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom du produit</label>
      <input type="text" [(ngModel)]="newProduct.productName" name="productName" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Prix du produit</label>
      <input type="number" [(ngModel)]="newProduct.productPrice" name="productPrice" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date de création du produit</label>
      <input type="date" [(ngModel)]="newProduct.createDate" name="createDate" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Categorie du produit</label>
      <select name="categoryId" id="categoryId" class="form-select" [(ngModel)]="newProduct.category">
        <option *ngFor="let cat of categories" [ngValue]="cat">
          {{cat.categoryName}}
        </option>
      </select>
    </div>
    <div class="mt-2">
      <button class="btn btn-danger" type="submit" (click)="addProduct()">Ajouter</button>
    </div>
  </form>
</div>
